<h3 class="header">My Addresses</h3>

<button (click)="onAdd()" style="margin-bottom: 20px;" class="btn btn-info float-right">Add</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Title</th>
      <th>Line 1</th>
      <th>Line 2</th>
      <th>City</th>
      <th>State</th>
      <th>ZipCode</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let address of addresses; let i = index">
      <td>{{i + 1}}</td>
      <td>{{address.title}}</td>
      <td>{{address.line1}}</td>
      <td>{{address.line2}}</td>
      <td>{{address.city}}</td>
      <td>{{address.state}}</td>
      <td>{{address.zipCode}}</td>
      <td>
        <button class="btn btn-sm btn-warning">Edit</button>
        <button (click)="onDelete(address)" class="btn btn-sm btn-danger" style="margin-left: 10px;">delete</button>
      </td>
    </tr>
  </tbody>
</table>