<h3 class="header">Product Info</h3>

<div class="row" *ngIf="product != undefined">
  <div class="col-md-4">
    <img src="http://localhost:4100/product/image/{{product.imageFile}}" class="card-img-top" alt="...">
  </div>

  <div class="col-md-8">
    <h4>{{product.title}}</h4>
    <div><strong>Price: </strong> {{product.price}}</div>
    <div><strong>Category: </strong> {{product.categoryTitle}}</div>
    <div><strong>Brand: </strong> {{product.brandTitle}}</div>
    <div><strong>Description: </strong> {{product.description}}</div>

    <hr>
    <div class="form">
      <div class="form-group">
        <label for="">Review</label>
        <textarea [(ngModel)]="review" rows="3" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <ngb-rating (hover)="rating=$event" [max]="5"></ngb-rating>
      </div>
      <div class="form-group">
        <button (click)="onSubmitReview()" class="btn btn-info">Submit</button>
      </div>
    </div>
    <hr>
    <div *ngFor="let review of reviews">
      <ngb-rating [rate]="review.rating" readonly="true" [max]="5"></ngb-rating>
      <p>{{review.review}}</p>
      <div style="font-size: 13px; color: gray;">{{review.created_on.split('T')[0]}} {{review.created_on.split('T')[1]}}</div>
      <hr>
    </div>

  </div>
</div>